@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme inline {
  
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@layer base {
  .font-switzerFont{
      font-family: var(--font-switzerFont), sans-serif;
  }
}
html {
  scroll-behavior: smooth;
}

.font-barlow {
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

/* .bgImg{
  background: url('/assets/images/background2.webp');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
} */

.rfm-marquee-container {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}


